body {
	font-family: vrinda;
	font-size: 18px;
}

nav {
  background: #395784;
}

.titulos {
  background-color: #375984;
  border-right: solid 12px #848584;
  border-left: solid 12px #848584;
}

.kts {
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 5px;
}

hr {
  background-color: #395784;
}

footer hr {
  background-color: #395784;
}

/*Custom Scrollbar*/
body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background: #395784;
}

body::-webkit-scrollbar-thumb:hover {
  background: #848584;
}

/*Símbolo de Carga*/
#contenedor_loader {
  background-color: #848584;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#loader {
  border: 4px;
  border-top-color: #395784;
  border-top-style: solid;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 0.5s linear infinite;
  -o-animation: girar 0.5s  linear infinite;
  animation: girar 0.5s linear infinite;
}

@keyframes girar {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

/*Slide Animation*/
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

/*Estilo Hoja*/
.div1 {
  margin-top: 16px;
  max-width: 1400px;
}

.div2 {
   padding: 0 8px;
}

.div3 {
  margin-bottom: 16px;
  padding: 0.01em 16px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/*Botónes*/
.btn {
  color: #fff;
  background-color: #395784;
  border-color: #395784;
}

.btn:hover {
  color: #fff;
  background-color: #848584;
  border-color: #848584;
}

textarea.txt-tam{
  min-height: 60px;
  max-height: 210px;
}

/*Tabla*/
.table thead{
  background: #395784;
  color: #fff;
}

/*Back to Top*/
.to-top {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 10px;
  display: none;
}

.to-top a.back-to-top {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 2em;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #375982;
  opacity: 1;
  transition: 0.8s;
}

.to-top a.back-to-top:hover {
  opacity: 1;
}

/*Box*/
.box {
  transition: box-shadow 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
}

.box:hover {
  transform: translate3d(0px, -10px, 0px);
}