/*Imagen responsiva*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/*Parallax*/
.emprendimiento {
  background-image: url(../img/p1.jpg);

  min-height: 500px; 
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.servicio {
  background-image: url(../img/p2.jpg);

  min-height: 500px; 
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.responsabilidad {
  background-image: url(../img/p3.jpg);

  min-height: 500px; 
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.compromiso {
  background-image: url(../img/p4.jpg);

  min-height: 500px; 
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.respeto {
  background-image: url(../img/p5.jpg);

  min-height: 500px; 
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.justicia {
  background-image: url(../img/p6.jpg);

  min-height: 500px; 
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trabajo {
  background-image: url(../img/p7.jpg);

  min-height: 500px; 
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}