* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/sesion.jpg);
    
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  display: flex;
	min-height: 100vh;
}

form {
	margin: auto;
	width: 50%;
	max-width: 500px;
	background: rgba(0,0,0,.25);
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.9);
	color: #fff;
}

@media (max-width: 768px) {
	form {
		width: 75%;
	}
}

@media (max-width: 480px) {
	form {
		width: 95%;
	}
}